/* You can add global styles to this file, and also import other style files */
html{
 background-image: url('../assets/mar.gif');
 background-size: cover;
 object-fit: cover;
 background-repeat: no-repeat;
 background-position: center;
 height: 100vh;

}
